img {
    width: 150px;
    height: 150px;
}
.outer {
    background-color: bisque;
}
.inner {
    background-color: aquamarine;
    margin-top: 205px;
    width: 70%;
    height: 70%;
    padding: 20px;
    border: 10px black;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}